.examplePage {
    :global {
        .adm-list {
            --border-inner: none !important;
        }

        .adm-list-item-content-main {
            font-size: 14px;
        }

        .adm-list-item-content-arrow {
            font-size: 16px;
            font-weight: bold;
        }

        .adm-switch {
            --height: 26px;
            --width: 43px;
        }
    }
}
