.mine-warp {
    .banner {
        background-size: cover;
        clip-path: inset(0 -55% 0 -55% round 0 0 100% 100%);

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-image: linear-gradient(180deg, rgb(0 0 0 / 0%), #000);
            opacity: 0.9;
        }
    }

    .adm-list {
        --border-inner: none !important;
    }

    .adm-list-body {
        background-color: transparent !important;

        .adm-list-item {
            background-color: transparent !important;

            .adm-list-item-content-main {
                font-size: 14px;
            }

            .adm-list-item-content-arrow {
                font-size: 16px;
            }
        }
    }
}
